body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero { /* Changed from .pic to .hero */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
    overflow: hidden;
}

.hero-image { /* Changed from .pic-image to .hero-image */
    width: 170%;
    height: 55%;
    object-fit: cover; /* Ensure this is set to cover */
}


h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.explore-button {
    padding: 10px 20px;
    background-color: #e60023;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #b3001a;
}